In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

In [45]:
import pandas as pd

# Citizen Science Data Preparation
Data are divided in different files, mainly .csv and .shp files.
shp files are collecting data about geographical information of species collected mainly by citizen scientists in different platforms.
csv files summarize de nummer of records by grid and platform (Data source)

In [34]:
df = pd.read_csv('../data/dataset_CSsources.csv')
df.head()

             spp              sp  Grid  Platform  Records
0    O_cuniculus    O. cuniculus  UG18      GBIF        5
1    O_cuniculus    O. cuniculus  UG18     NoVal       34
2    O_cuniculus    O. cuniculus  UG18    seqRec      129
3    O_cuniculus    O. cuniculus  UG18  dailyRec       48
4  L_granatensis  L. granatensis  UG18      GBIF        0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   spp       704 non-null    object
 1   sp        704 non-null    object
 2   Grid      704 non-null    object
 3   Platform  704 non-null    object
 4   Records   704 non-null    int64
dtypes: int64(1), object(4)
memory usage: 27.6+ KB

In [36]:
df.columns

Index(['spp', 'sp', 'Grid', 'Platform', 'Records'], dtype='object')

In [44]:
df.duplicated().sum()

np.int64(0)

In [37]:
# Change the levels directly for Platform Variable
df['Platform'] = df['Platform'].replace({
    'GBIF': 'Global Biodiversity',
    'NoVal': 'No Validation',
    'seqRec': 'Sequences Record',
    'dailyRec': 'Daily Record'
})

In [38]:
# Change the varaibale name 'Platform' to 'Data Source'
df.rename(columns={'Platform': 'Data.Source'}, inplace=True)
df.rename(columns={'sp': 'Species.Name'}, inplace=True)
df.head()

             spp    Species.Name  Grid          Data.Source  Records
0    O_cuniculus    O. cuniculus  UG18  Global Biodiversity        5
1    O_cuniculus    O. cuniculus  UG18        No Validation       34
2    O_cuniculus    O. cuniculus  UG18     Sequences Record      129
3    O_cuniculus    O. cuniculus  UG18         Daily Record       48
4  L_granatensis  L. granatensis  UG18  Global Biodiversity        0

In [ ]:
# Give me the unique values for the 'Species.Name' column
df['Species.Name'].unique()

array(['O. cuniculus', 'L. granatensis', 'G. genetta', 'H. icheneumon',
       'V. vulpes', 'L. lutra', 'M. foina', 'M. meles', 'M. nivalis',
       'S. scrofa', 'C. elaphus', 'E. europaeus', 'M. putorius',
       'C. pynernaica', 'S. vulgaris', 'E. quercinus'], dtype=object)

In [ ]:
# Give me the unique values for the 'Grid' column
df['Grid'].unique()

array(['UG18', 'UG37', 'UG39', 'UG43', 'UG44', 'UG49', 'UG84', 'UG94',
       'UH26', 'UH30', 'UH40'], dtype=object)

In [ ]:
# Filter by each font type
df_daily = df[df['Data.Source'] == 'Daily Record']
df_sequences = df[df['Data.Source'] == 'Sequences Record']

# Group and sum the 'Records' column (or whichever column you want to sum).
daily_sum = df_daily.groupby('Species.Name')['Records'].sum().reset_index()
daily_sum.rename(columns={'Records': 'Daily_Sum'}, inplace=True)

sequences_sum = df_sequences.groupby('Species.Name')['Records'].sum().reset_index()
sequences_sum.rename(columns={'Records': 'Sequences_Sum'}, inplace=True)

# Combine both results by species
df_species_sum = pd.merge(daily_sum, sequences_sum, on='Species.Name', how='outer').fillna(0)

print(df_species_sum)

      Species.Name  Daily_Sum  Sequences_Sum
0       C. elaphus          2              3
1    C. pynernaica          0              0
2     E. europaeus          0              0
3     E. quercinus          5             10
4       G. genetta         55             65
5    H. icheneumon         30             35
6   L. granatensis         38             42
7         L. lutra          1              1
8         M. foina         26             36
9         M. meles         16             19
10      M. nivalis          1              1
11     M. putorius          0              0
12    O. cuniculus        199            700
13       S. scrofa         66            114
14     S. vulgaris          0              0
15       V. vulpes        150            224

In [ ]:
sns.heatmap(df.isnull(), cbar=False, yticklabels=False, cmap='viridis')